<h1>My Todo's</h1>
<div class="container">

  <div class="alert alert-success" *ngIf='message' >{{message}}</div>



  <table class="table">
  <thead>
    <tr>
      <th>ID</th>
    <th>Desription</th>
    <th>Target Date</th>
    <th>Is Complelted?</th>
    <th>Update</th>
    <th>Delete</th>


    </tr>

  </thead>


  <tbody>
    <!--  for loop -->
    <tr *ngFor="let todo of todos">
      <td>{{todo.id}}</td>
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate | date | uppercase }}</td>
      <td>{{todo.done}}</td>
      <td><button class="btn btn-success" (click)="updateTodo(todo.id)">Update</button></td>
      <td><button class="btn btn-warning" (click)="deleteTodo(todo.id)">Delete</button></td>

    </tr>


  </tbody>


</table>

  <div class="row">

    <button class="btn btn-success" (click)="addTodo()">Add</button>

  </div>


</div>
